<p *ngIf="add && collaborateur.roles.includes('ROLE_ADMIN')" id="btnAddJourFerie" class="text-right" (click)="open(content)">Ajouter un jour férié ou un RTT employeur
  <a>
    <img class="imgAdd" src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add.png">
  </a>
</p>
<i *ngIf="modif" type=" button " (click)="open(content)" class="fa fa-pencil font-btn" aria-hidden="true "></i>
<ng-template #content>
<div class="modal-header">
  <h4 class="modal-title">{{titre}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel(jourFerieform)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="jourFerieform" class="form-horizontal" role="form" (ngSubmit)="submit(jourFerieform)" novalidate #jourFerieform="ngForm">
  <div class="modal-body">
      <div class="row">
          <div class="col-md-3 field-label-responsive">
              <label for="add-dateDebut">Date</label>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <my-date-picker name="date"  [options]="myDatePickerOptions"  [selDate]="selDate"  required (dateChanged)="onDateChanged($event)"></my-date-picker>    
                      </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-control-feedback">
                      <span id="validator-date" *ngIf="isInvalidDate" class="text-danger align-middle">
                        {{msgDate}}
                      </span>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 field-label-responsive">
              <label for="add-dateFin">Type de jour</label>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <select class="form-control" id="add-dateFin"
                      [(ngModel)]="jourFerie.type" name="type" #type="ngModel" required (change)="onAlertChanged($event)">
                      <option selected value="" disabled>(Type de jour)</option>
                      <option *ngFor="let option of options" [value]="option.key">{{option.label}}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                      </span>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 field-label-responsive">
              <label for="add-motif">Commentaire</label>
          </div>
          <div class="col-md-6">
              <div class="form-group has-danger">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <textarea type="text" class="form-control" id="add-commentaire"
                      [(ngModel)]="jourFerie.commentaire" name="commentaire" #commentaire="ngModel" (change)="onAlertChanged($event)">{{jourFerie.commentaire}}</textarea>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-control-feedback">
                      <span *ngIf="isRequiredComment" class="text-danger align-middle">
                          * Obligatoire
                      </span>
              </div>
          </div>
      </div>   
  </div>
  <div *ngIf="alertActive" class="alert alert-danger alert-dismissable">
      <a (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{msg}}</strong>
  </div>
  <div class="modal-footer">
      <button type="reset" class="btn btn-danger" (click)="cancel(jourFerieform)"> Annuler</button>
      <button type="submit" class="btn btn-success" [disabled]="!isValid" >Valider</button>
  </div>
</form>
</ng-template>