<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Validation des demandes
    </p>
    <br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Type</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of absences">
        <td>{{absence.dateDebut}} </td>
        <td>{{absence.dateFin}}</td>
        <div *ngFor="let type of absTypes">
            <td *ngIf="type.key === absence.type">{{type.label}}</td>
        </div>
        <td>{{absence.collaborateur.nom}} {{absence.collaborateur.nom}} </td>
        <td>
          <div class="actionBtn">
              <i  class="fa fa-check font-btn" style=" color:green" aria-hidden="true" (click)="valider(absence)"></i>
              <i  class="fa fa-times font-btn" style=" color:red" aria-hidden="true" (click)="rejeter(absence)"></i>
          </div>
          
        </td>
      </tr>
    </tbody>
  </table>


<div *ngIf="alertActive" class="alert {{alertClass}} alert-dismissable">
    <a (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{msg}}</strong>
</div>