<app-menu></app-menu>
<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Vues synthétiques
    <br>
  </div>


<div  class="row">
    <div class="card-deck">
        <div class="card">
            <a routerLink="" class="card-item">
                <img class="card-img-top" src="https://raw.githubusercontent.com/DiginamicFormation/ressources-atelier/master/gestion-des-absences/Vue.departement.jour.png" alt="Card image cap">
                <div class="card-block">
                    <h6 class="card-title" >Vue par département par jour et par collaborateur</h6>
                </div>
            </a>
        </div>
    </div>
  <div class="card-deck">
    <div class="card">
        <a routerLink="" class="card-item">
            <img class="card-img-top" src="https://raw.githubusercontent.com/DiginamicFormation/ressources-atelier/master/gestion-des-absences/Vue.departement.jour.collab.png" alt="Card image cap">
            <div class="card-block">
                <h6 class="card-title" >Vue par département par jour et par collaborateur</h6>
            </div>
        </a>
    </div>
  </div>
</div>

 
</div>