<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Vues synthétiques
    </p>
    <br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Liste des rapports</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vue par departement par jour et par collaborateur</td>
        <td>lien 1</td>
      </tr>
      <tr>
        <td>Histogramme par departement et par jour</td>
        <td>lien 2</td>
      </tr>
  </table>
</div>