<app-menu></app-menu>
<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Jours fériés et RTT employeurs
    </p>
    <br>
  </div>
  <app-filtre-conges-par-annee [annees]="annees" (change)="yearChanges($event)" (change)="handleYearEventChanged(annee)"></app-filtre-conges-par-annee>
  <table class="table table-hover">
    <thead class="table-head">
      <tr>
        <th>Date </th>
        <th>Type</th>
        <th>Jour</th>
        <th>Commentaires</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jf of joursFeries | yearFilter:annee ">
        <td>{{jf.date | date : 'dd-MM-yyyy' }}</td>
        <div *ngFor="let type of jfTypes">
          <td *ngIf="type.key === jf.type">{{type.label}}</td>
        </div>
        <td>{{jf.date | date : 'EEEE' }}</td>
        <td>{{jf.commentaire}}</td>
        <td>
          <div class="actionBtn">
            <app-form-jour-ferie [action]="modifAbsence" [jourFerie]="jf"></app-form-jour-ferie>
            <app-suprimer-jour-ferie [jourFerie]="jf"></app-suprimer-jour-ferie>
          </div>
        </td>
  </table>
  <app-form-jour-ferie [action]="demandeAbsence"></app-form-jour-ferie>
</div>