<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Gestion des absences
    </p>
    <br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Type</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of absences">
        <td>{{absence.dateDebut}} </td>
        <td>{{absence.dateFin}}</td>
        <div *ngFor="let type of absTypes">
            <td *ngIf="type.key === absence.type">{{type.label}}</td>
        </div>
        <div *ngFor="let type of jfTypes">
            <td *ngIf="type.key === absence.type">{{type.label}}</td>
        </div>
        
        <td>{{absence.statut}}</td>
        <td>
          <app-buttons-modif-supp [absence]="absence"></app-buttons-modif-supp>
        </td>
  </table>
  <app-form-absence [action]="demandeAbsence"></app-form-absence>
  <p>Soldes des compteurs:</p>
  <ul>
    <li>Congés payés : {{conges}}</li>
    <li>RTT : {{rtt}}</li>
  </ul>
</div>