<app-menu></app-menu>
<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
        Vue par département par jour et par collaborateur
    </p>
    <br>
  </div>
  <app-filtre-dept-mois-annee [absences]="absences" (changedFilter)="filterChanges($event)" ></app-filtre-dept-mois-annee>
  <table class="table table-striped">
    <thead class="table-head">
      <tr class="text-center day-tr">
        <th class="table-day">Nom </th>
        <th class="table-day {{day.cssClass}}" *ngFor="let day of days">{{day.day}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="day-tr" *ngFor="let collab of collaborateurs | deptMonthYearFilter: filtre: currentDatetime">
        <td class="table-day text-center">{{collab.prenom}} {{collab.nom}}</td>
        <td class="table-day {{day.cssClass}} text-center" *ngFor="let day of days" #type>{{type | congesJourCollabFilter: collab.matricule: absences: day: joursFeries}}</td>
      </tr>
    </tbody>
  </table>
  <div class="legend">
    <p><i>C: Congés payés, F: jours fériés, R: RTT</i></p>
    <button routerLink="/VueSynthetique" class="btn btn-primary pull-right">Retour</button>
  </div>
</div>